body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
  }

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/accueil.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */     
  -webkit-filter: blur(3px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.rectAccueil
{
	bottom:5%;
}

.caroussel
{
	position:absolute;

	width:30%;
	height:36%;
	left:35%;
	bottom:47%;

	border-radius:20px;

	background-color:transparent;
	background-position:center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-visibility:hidden;

	animation-delay:0s;
	animation-duration:20s;
	animation-name:slideBg;
	animation-iteration-count:infinite;
	animation-direction:normal;

	animation-timing-function: linear;

	/*-webkit-filter: blur(1px);*/
}

@keyframes slideBg{
	0%{
		background-image: url("images/caroussel_lol.png");
	}
	50%{
		background-image: url("images/caroussel_cs.png");
	}
	75%{
		background-image: url("images/caroussel_sm.png");
	}
	100%{
		background-image: url("images/caroussel_sm.png");
	}
}