body{
  position: absolute;
 bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;

  }

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/tournois.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */     
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  }

.BigDiv{
  margin-top: 8%;
}

.rectGestion1, .rectGestion2 , .rectGestion3 , .rect4, .gestionRect , .enCourRect , .incriRect   , .termineRect  , .gestionTermineRect
{
  background-color:rgb(128,21,21,85%);
  border-radius:20px;

  align-items:center;

  text-align:center;

  color:white;
  font-size:15px;
  font-family: "OCR A Std", monospace;
  font-weight:bold;

  position:relative;
  left:1%;
  width:98%;

  height:200px;
  
  margin-top: 15px;
  }

.Nomcolonne{

  font-size:18px;
  background-color:rgb(128,21,21,85%) !important;
  color :rgb(255, 153, 0);

}

th{
	width:300px;
	}

.gestionRect , .enCourRect , .incriRect , .termineRect , .gestionTermineRect {	
	background-color:rgb(21,21,21,85%);
	border-color:rgb(128,21,21);
	border-style: solid ;
	border-radius:10px;
	height:750px;
	}

  tbody tr:nth-child(odd) {
    background-color: #c52020;
  }
  
  tbody tr:nth-child(even) {
    background-color: #500303;
  }
  

.enCourRect , .incriRect , .termineRect , .gestionTermineRect
{
	height:300px;
}

.rectGestion1{
	top:0px;
	}

.rectGestion2{
	top:0px;
	}

.rectGestion3{
	top:0px;
	}

.rect4{
	top:900px;
	}

.tableTitle{
	color:white;
	font-size:30px;
	font-family: "OCR A Std", monospace;
	font-weight:bold;

	}

.subtableTitle{

	color:white;
	font-size:22px;
	font-family: "OCR A Std", monospace;
	font-weight:bold;
  border-radius: 10px;
  background-color: black;
  margin-left: 40%;
  margin-right: 40%;

	}
  