body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/ready.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */     
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.rect1{   
  background-color:rgb(128,21,21,80%);
  display:inline-block; 
  height:150px;        

  font-size:20px;
  color: white; 
  text-align: center;
  position:absolute;
 
  bottom: 65%;
  left:32%;
}

.rect2{     
  background-color:rgb(128,21,21,80%);
  display:inline-table;
  height:200px;     

  font-size:20px;
  color: white; 
  text-align: center;
  position:absolute;
 
  bottom: 43%;
  left:26%;
}

tbody tr:nth-child(odd) {
  background-color: #c52020;
}

tbody tr:nth-child(even) {
  background-color: #500303;
  height :30px;
}


.rect3{   
  background-color:rgb(128,21,21,80%);
  display:inline-table;
  border-radius:20px;         

  font-size:25px;
  color: white; 
  text-align: center;
  position:absolute;
 
  bottom: 10%;
  left:34%;
}

.rect3b{   
  background-color:rgb(128,21,21,80%);
  display:inline-table;
  border-radius:20px;         

  font-size:25px;
  color: white; 
  text-align: center;
  position:absolute;
 
  bottom: 13%;
  left:35%;
}

.fielder{
  color:white;
  text-align:center;
  background-color:grey;
  border-color:black;
  border-style: solid ;
  font-size:15px;
}

.boutonAjout{
  padding: 20px 40px;
  background-color: rgb(128,21,21);
  color: white;
  border-radius: 8px;
  border-color:white;
  font-size: 17px;
  font-family: "Arial", sans-serif;
  position:relative;
  top:22%;
}