body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
  }

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/accueil.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */     
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  }

  .rect
  {
		top:50%;
		right:50%;
		height:25%;
		width:25%;
  }

  .rect2
  {
		position:absolute;
		top:25%;
		right:25%;
		height:50%;
		width:50%;
		text-align:center;
		align-items:center;
  }

  .text{
		color:white;
		text-align:center;
		font-size:25px;
  }

  .tabler
  {
		position:relative;
		top:0%;
		left:13%;
		width:75%;
		height:100%;
		
		font-size:18px;
		background-color:rgb(128,21,21,85%) !important;
		color : white;

		text-align:center;
		align-items:center;
  }


