body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/team.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.rect1{
  background-color:rgb(128,21,21,80%);
  height:300px;
  width: 500px;
  border-radius:20px;

  font-size:40px;
  color: white;
  text-align: center;
  position:absolute;

  bottom: 30%;
  left:35%;
}

.rect2{
  background-color:rgb(128,21,21,80%);
  height:750px;
  width:700px;
  border-radius:20px;

  overflow: auto;
  color: white;
  text-align: center;
  position:absolute;
  bottom: 7.5%;

  left:20%;
}

.boutonAjout{
  padding: 30px 60px;
  background-color: rgb(128,21,21);
  color: white;
  border-radius: 8px;
  border-color:white;
  font-size: 17px;
  font-family: "Arial", sans-serif;
  position:relative;
  top:22%;
}

.buttonpos{
  background-color:rgb(128,21,21,80%);
  height:150px;
  width: 400px;
  border-radius:20px;
  position:absolute;
  bottom:40%;
  left:65%;
  text-align: center;
  vertical-align: middle;
}
