body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;  
  color:black;
}

body:before{
  content: "";
  position: fixed;
  height: 100%; width: 100%;

  background: url("../assets/images/background.jpg");
  background-size: cover;

  z-index: -1; /* Keep the background behind the content */  
  
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
}

.title{
  font-family: "Bookman", serif;
  color: white;
  text-align:left;
  text-shadow: 0px 10px 20px black;

  position:absolute;
  
  left:33%;
  bottom:85%;         
}

.title1{
  position:relative;
  top:50%;
}

.formulaire{
  color: white;
  font-size: 200%;
  text-align:center;         
}


.img{
  width: 70px;
  height: 70px;
}



.rect , .rectAccueil{   
  background-color:rgb(128,21,21,80%);
  height:500px;
  border-radius:20px;         

  position:absolute;
  bottom:20%;

  left:35%;
  width:30%;
}

h2{
  color: white;
  font-size: 100%;
  text-align: center         
}