body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
  }

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/creation.png");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  }


 .twoPerLine{
   text-align:right;
   align-items:center;
   position:relative;
   left:40%;
   transform: translate(-50%, -50%);
}

.onePerLine{
    text-align:center;
    position:relative;
    align-items:center;
    position:relative;
    left:45%;
    transform: translate(-50%, -50%);
}

.twoChoices{
      position:relative;
      right:0px;
      width:500px;
      }


.rect1 , .rect2 , .rect3 {
  background-color:rgb(128,21,21,85%);

  width:650px;

  border-radius:20px;

  vertical-align:middle;
  align-items:center;

  text-align:right;

  color:white;
  font-size:20px;
  font-family: "OCR A Std", monospace;
  font-weight:bold;
  }

.validateButton{
   position:relative;
   top:37%;
   right:37.5%;
   }

.rect1{
  position:absolute;

  padding: 30px;
  width: 30%;
  left: 34%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.rect2{
  position:absolute;

  top:15%;
  right:7%;
  height:82%;
  }

.rect3{
  position:absolute;

  vertical-align:middle;
  align-items:center;

  padding: 30px;
  width: 30%;
  left: 34%;
  top: 80%;
  transform: translate(-50%, -50%);
  }
