body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/trophy.png");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
 }

.pageName{
    position:absolute;

    top:10%;
    left:38%;

    text-shadow: 0px 5px 10px black;
    font-size:30px;
    color : white;}

 .rect1br
 {
   display: block;
   margin: 15px 0;
 }

  .rect2br
 {
   display: block;
   margin: 28px 0;
 }

  .rect3br
 {
   display: block;
   margin: 5px 0;
 }

.rect1 , .rect2 , .rect3 {
  height:36%;
  width:30%;
  position:absolute;

  border-radius:20px;

  align-items:center;

  color:white;
  font-size:20px;
  font-family: "OCR A Std", monospace;
  font-weight:bold;
}

.text1
{
  text-align:center;
}

.rect1{
  top:20%;
  left:20%;
}

.rect2{
  position:absolute;

  top:20%;
  right:15%;
}

.rect3{
  position:absolute;

  bottom:4%;
  right:32.5%;
}

.adminText
{
  text-align:center;
  width:575px;
  height:20px;
  position:relative;
  bottom:5%;
  font-family: "Optima", sans-serif;
  font-weight:normal;
}

.infoText, .playerError
{
  position:absolute;

  color:white;
  width:100%;

  font-family: "Optima", sans-serif;
  font-weight:normal;

  bottom:0%;
  text-align:center;
}

.playerError{
  background-color:rgb(128,21,21,85%);

  height:35%;
  width:960px;

  border-radius:20px;

  text-align:center;
  bottom:25%;
  right:25%;
}

.fieldAccueil{
  height:30%;
}

.buttonAccueil{
  font-size:30px;
  width:70%;
  height:100px;
  background-color: rgb(128,21,21);
  color:white;
  border-radius:10px;
}

@media screen and (max-width: 1110px) {
  .rect1 , .rect2 , .rect3 {
    height:35%;
    width:30%;
    position:absolute;

    border-radius:20px;

    align-items:center;

    text-align:right;

    color:white;
    font-size:20px;
    font-family: "OCR A Std", monospace;
    font-weight:bold;
  }
}
