body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/tournois.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.NomTournois{
  font-size: 40px;
  color : white;
  height:50px;
  width: 400px;
  position:absolute;

  bottom: 85%;
  left: 46%;
}

.infoTournoi{
  background-color:rgb(128,21,21,80%);
  display: inline-block;
  width: 890px;
  border-radius:20px;

  font-size:18px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  position:absolute;

  bottom: 63%;
  left: 26%;
}

.listeEquipe{
  background-color:rgb(128,21,21,80%);
  height:510px;
  display: inline-block;
  border-radius:20px;

  overflow: auto;
  font-size:18px;
  color: white;
  text-align: center;
  position:absolute;

  padding: 30px;
  width: 45%;
  left: 50%;
  top: 66%;
  transform: translate(-50%, -50%);
}

.DivRencontre{
  background-color:rgb(128,21,21,80%);
  display: inline-block;
  border-radius:20px;

  font-size:18px;
  color: white;
  text-align: center;
  position:absolute;

  top: 96%;
  left:36%;
}

.DivChamp{
  background-color:rgb(128,21,21,80%);
  display: inline-block;
  border-radius:20px;

  font-size:18px;
  color: white;
  text-align: center;
  position:absolute;

  top: 140%;
  left:36%;
}

.centre{
  text-align: center;
  position:relative;
  display: inline-block;
}

.sousPart{
  font-size: 24px;
}

.soussousPart{
  font-size: 17px;
}

tbody tr:nth-child(odd) {
  background-color: #c52020;
}

tbody tr:nth-child(even) {
  background-color: #500303;
}

table th:first-child  {
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
}

table th:last-child  {
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
}

table tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
}

table tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
}
