body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/ready.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.NomTournois{
  font-size: 40px;
  color : white;
  height:50px;
  width: 400px;
  position:absolute;

  bottom: 80%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.BigDiv{
  background-color:rgb(128,21,21,80%);
  height:53%;
  display: inline-block;
  border-radius:20px;

  overflow: auto;
  font-size:18px;
  color: white;
  text-align: center;
  position:absolute;

  left:40%;
  padding: 30px;
  width: 50%;
  top: 59%;
  transform: translate(-50%, -50%);
}

.SmallDiv{
  background-color:rgb(128,21,21,80%);
  height:53%;
  border-radius:20px;

  overflow: auto;
  font-size:18px;
  color: white;
  text-align: center;
  position:absolute;

  left:80%;
  padding: 30px;
  width: 20%;
  top: 59%;
  transform: translate(-50%, -50%);
}

.centre{
  text-align: center;
  position:relative;
  display: inline-block;
}

.sousPart{
  font-size: 30px;
}

tbody tr:nth-child(odd) {
  background-color: #c52020;
}

tbody tr:nth-child(even) {
  background-color: #500303;
}
