.side{
  z-index:5;

  color:white;
  background-color:rgb(50,50,50,75%);

  height:13%;
  width:100%;

  display:flex;
  align-items : center;

  position:fixed;
  bottom:87%;
  left:0%;
}

.side2{
  position:absolute;
  height:60%; 
  left: 84%;
}

.side3{
  position:absolute;
  height:60%;
  left:73%;
}

.logo{
position:absolute;
top:23%;
left:2%;
}

.img{
width: 70px;
height: 70px;
}

.title{
color: white;
text-align:center;
text-shadow: 0px 10px 20px black;

position:relative;

left: 20%;
bottom: 40%;
width:50%;
height:80%;
z-index:2;
}

.titre{
font-size: 500%;
font-family: "Bookman", serif;
}

.bouton{
padding: 20px 40px;
background-color: rgb(128,21,21);
color: white;
border-radius: 8px;
font-size: 17px;
font-family: "Arial", sans-serif;
}

.bouton:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 1300px) {
  .titre{
    font-size: 500%;
    font-family: "Bookman", serif;
  }
  
  .side2{
    position:absolute;
    height:60%;
    left: 84%;
  }
  
  .side3{
    position:absolute;
    height:60%;
    left:70%;
  }
}

@media screen and (max-width: 1110px) {
  .title{
    color: white;
    text-align:center;
    text-shadow: 0px 10px 20px black;
    
    position:relative;
    
    left: 20%;
    bottom: 30%;
    width:50%;
    height:80%;
    z-index:2;
  }
  
  .titre{
    font-size: 400%;
    font-family: "Bookman", serif;
  }

  .bouton{
    padding: 15px 30px;
    background-color: rgb(128,21,21);
    color: white;
    border-radius: 8px;
    font-size: 17px;
    font-family: "Arial", sans-serif;
  }
  
  .side2{
    position:absolute;
    height:60%;
    left: 84%;
  }
  
  .side3{
    position:absolute;
    height:60%;
    left:68%;
  }
}

@media screen and (max-width: 890px) {
  .title{
    color: white;
    text-align:center;
    text-shadow: 0px 10px 20px black;
    
    position:relative;
    
    left: 20%;
    bottom: 15%;
    width:50%;
    height:80%;
    z-index:2;
  }
  
  .titre{
    font-size: 300%;
    font-family: "Bookman", serif;
  }

  .bouton{
    padding: 10px 20px;
    background-color: rgb(128,21,21);
    color: white;
    border-radius: 8px;
    font-size: 17px;
    font-family: "Arial", sans-serif;
  }
  
  .side2{
    position:absolute;
    height:50%;
    left: 84%;
  }
  
  .side3{
    position:absolute;
    height:50%;
    left:68%;
  }
}

@media screen and (max-width: 665px) {
    .title {
        color: white;
        text-align: center;
        text-shadow: 0px 10px 20px black;
        position: relative;
        left: 20%;
        bottom: 0%;
        width: 50%;
        height: 80%;
        z-index: 2;
    }

    .titre {
        font-size: 200%;
        font-family: "Bookman", serif;
    }

    .bouton{
      padding: 5px 10px;
      background-color: rgb(128,21,21);
      color: white;
      border-radius: 8px;
      font-size: 17px;
      font-family: "Arial", sans-serif;
    }
    
    .side2{
      position:absolute;
      height:40%;
      left: 84%;
    }
    
    .side3{
      position:absolute;
      height:40%;
      left:68%;
    }
}

@media screen and (max-height: 671px) {
    .title {
        color: white;
        text-align: center;
        text-shadow: 0px 10px 20px black;
        position: relative;
        left: 20%;
        bottom: 0%;
        width: 50%;
        height: 80%;
        z-index: 2;
    }

    .titre {
        font-size: 200%;
        font-family: "Bookman", serif;
    }

    .bouton {
        padding: 10px 20px;
        background-color: rgb(128,21,21);
        color: white;
        border-radius: 8px;
        font-size: 17px;
        font-family: "Arial", sans-serif;
    }
}