body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/ready.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */     
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.infoCompet{
  background-color:rgb(128,21,21,80%);
  height:140px;
  display: inline-block;
  border-radius:20px;         

  font-size:18px;
  color: white; 
  text-align: center;
  position:absolute;
 
  bottom: 69%;
  left:34%;
}

.infoEquipes{
  background-color:rgb(128,21,21,80%);
  height:500px;
  width: 700px;
  border-radius:20px;         

  overflow: auto;
  font-size:18px;
  color: white; 
  text-align: center;
  position:absolute;
 
  bottom: 13%;
  left:13%;
}

.mesEquipes{
  background-color:rgb(128,21,21,80%);
  height:500px;
  width: 800px;
  border-radius:20px;         
  overflow: auto;
  
  font-size:18px;
  color: white; 
  text-align: center;
  position:absolute;
 
  bottom: 13%;
  left: 55%;
}

.boutonAjout{
  padding: 15px 30px;
  background-color: rgb(128,21,21);
  color: white;
  border-radius: 8px;
  border-color:white;
  font-size: 17px;
  font-family: "Arial", sans-serif;
  position:relative;
  top:22%;
}

.listeEquipes {	
	background-color:rgb(21,21,21,85%);
	border-color:rgb(128,21,21);
	border-style: solid ;
	border-radius:10px;
	display:inline-block;
	}

  tbody tr:nth-child(odd) {
    background-color: #c52020;
  }
  
  tbody tr:nth-child(even) {
    background-color: #500303;
    height :30px;
  }
