body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black; 
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/background.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */     
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
 }

p {
  color:white;
  line-height: 1em;
}

.title{
  font-family: "Bookman", serif;
  color: white;
  text-align:left;
  text-shadow: 0px 10px 20px black;

  position:absolute;
  
  left:33%;
  bottom:80%;            
}

.title1{
  position:relative;
  top:50%;
}

.img{
  width: 70px;
  height: 70px;
}

.logo{
  position:absolute;
  top:3%;        
  left:2%;
}

.rect{
  background-color:rgb(128,21,21,80%);
  height:500px;
  border-radius:20px;

  position:absolute;
  bottom:20%;

  left:35%;
  width:30%;

  text-align:center;
}

.a {
  text-align:center;
  font-family: "Arial", sans-serif;
  font-size:120%;
  position:relative;
  bottom:-50%;
  color:rgb(200,200,200);
}


.fielder, .button {
  height:10%;
  width:75%;
  color:white;
  text-align:center;
  background-color:grey;
  border-color:black;
  border-radius:10px;
  border-style: solid ;
  padding:5px;
}

.button {
  width:25%;
  color:white;
  border-radius:5px;
  font-size:70%;
  font-weight: bold;
}

h2{
  color: white;
  font-size: 100%;         
}