body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/accueil.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */}

.rectAccueil{
  background-color:rgb(50,50,50,75%);
  height:350px;
  border-radius:20px;

  position:absolute;
  bottom:20%;

  left:35%;
  width:30%;

  text-align:center;}

a:link , a:active , a:visited , a:hover {
    color:white;}

.fieldAccueil{
    height:30%;}

.buttonAccueil{
  font-size:30px;
  width:70%;
  height:100px;
  background-color: rgb(128,21,21);
  color:white;
  border-radius:10px;}

.fielder{
  height:10%;
  width:75%;
  color:black;
  text-align:center;
  background-color:grey;
  border-color:black;
  border-radius:10px;
  border-style: solid ;
  padding:5px;}

.button{
  background-color:grey;
  border-color:black;
  color:white;
  border-radius:5px;
  text-align:center;
  font-size:70%;
  padding: 15px 30px;
  font-weight: bold;}

.hyper{
  text-align:center;
  font-family: "Arial", sans-serif;
  font-size:120%;
  position:relative;
  bottom:-50%;
  color:rgb(200,200,200);}

.logo{
  position:absolute;
  top:3%;
  left:2%;
}

 .twoPerLine{
  text-align:right;
  align-items:center;
  position:relative;
  left:45%;
  transform: translate(-50%, -50%);
 }

 .pageName{
  position:absolute;

  top:10%;
  left:30%;

  text-shadow: 0px 5px 10px black;
  font-size:30px;
  color : white;
}

.onePerLine{
  text-align:center;
  position:relative;
  align-items:center;
  position:relative;
  left:45%;
  transform: translate(-50%, -50%);
}

.formulaire{
  color: white;
  font-size: 200%;
  text-align:center;
}

.title{
  font-family: "Bookman", serif;
  color: white;
  text-align:left;
  text-shadow: 0px 10px 20px black;

  position:absolute;

  width:50%;
  left:30.5%;
  height:50px;
  z-index:2;
}
.rect{
  background-color:rgb(128,21,21,80%);
  height:600px;
  width: 500px;
  border-radius:20px;

  position:absolute;
  bottom: 7.5%;

  left:35%;
}

.twoChoices{
  position:relative;
  right:0px;
  width:500px;
}

 .largeField
 {
  text-align:center;
  height:7px;
 }

 .validateRect{text-align:center;}

.validateButton{
  font-size:25px;
  text-align:center;
  font-family: "Apple Chancery", cursive;

  height:50px;
  width:150px;

  color:white;
  background-color:rgb(128,21,21,85%);
  border-color:rgb(0,0,0);
  border-radius:10px;
}

.rect1 , .rect2 , .rect3 {
  background-color:rgb(128,21,21,85%);
  border-radius:20px;

  align-items:center;

  text-align:right;
}

.Nomcolonne{
  font-size:18px;
  background-color:rgb(128,21,21,85%) !important;
  color :rgb(255, 153, 0);
}
