        .title{
            font-family: "Bookman", serif;
            color: white;
            text-align:left;
            text-shadow: 0px 10px 20px black;

            position:absolute;
            
            width:50%;
            left:35%;
            height:50px;          
            z-index:2;
        }

        .title1{
            position:relative;
            top:50%;
        }

        .field , .fieldAccueil{         
            font-family:Luminari, fantasy;
            position:relative;
            text-align:center;
            color:rgb(200,200,200);
            top:5%;
        }

        .fielder , .button , .buttonAccueil {
            height:10%;
            width:75%;
            color:black;
            text-align:center;
            background-color:grey;
            border-color:black;
            border-radius:10px;
            border-style: solid ;
            padding:5px;
        }
        
        .button , .buttonAccueil{
            width:25%;
            color:white;
            border-radius:5px;
            font-size:70%;
            font-weight: bold;
        }

        .hyper{
            text-align:center;
            font-family: "Chalkduster", fantasy;
            font-size:120%;
            position:relative;
            bottom:-50%;
            color:rgb(200,200,200);
        }
        
        .rect , .rectAccueil{   
            background-color:rgb(128,21,21,80%);
            height:500px;
            border-radius:20px;         

            position:absolute;
            bottom:20%;

            left:35%;
            width:30%;
        }