body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before{
  content: "";
  position: fixed;
  height: 100%; width: 100%;

  background: url("../assets/images/Compte.jpg");
  background-size: cover;

  z-index: -1; /* Keep the background behind the content */

  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
}


.logo{
  position:absolute;
  top:3%;
  left:2%;
}

.img{
  width: 70px;
  height: 70px;
}

.field{
  font-family:Luminari, fantasy;
  position:relative;
  text-align:center;
  color:rgb(200,200,200);
  top:5%;
}

.fielder{
  height:10%;
  width:75%;
  color:black;
  text-align:center;
  background-color:grey;
  border-color:black;
  border-radius:10px;
  border-style: solid ;
  padding:5px;
}

.hyper{
  text-align:center;
  font-family: "Arial", sans-serif;
  font-size:120%;
  position:relative;
  bottom:-50%;
  color:rgb(200,200,200);
}

.onePerLine{
  text-align:right;
  position:relative;
  align-items:center;
  position:relative;
  right:0px;
  width:500px;
  }

.rect{
  background-color:rgb(128,21,21,80%);
  height:55%;
  width: 700px;
  border-radius:20px;
  text-align: center;
  position:absolute;
  bottom: 15%;

  left:30%;
}

.validateButton{
  font-size:25px;
  text-align:center;
  font-family: "Apple Chancery", cursive;

  width:150px;
  height:50px;
  color:white;
  background-color:rgb(128,21,21,85%);
  border-color:rgb(0,0,0);
  border-radius:10px;
}

h2{
  color: white;
  font-size: 100%;
}

.suppr{
  font-size:15px;
  text-align:center;

  height:30px;
  width:213px;

  color:white;
  background-color:rgb(128,21,21,85%);
  border-color:rgb(0,0,0);
  border-radius:10px;
}

.pageName{
  position:absolute;

  top:13%;
  left:32%;

  text-shadow: 0px 5px 10px black;
  font-size:30px;
  color : white;
}
