body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before{
  content: "";
  position: fixed;
  height: 100%; width: 100%;

  background: url("../assets/images/Compte.jpg");
  background-size: cover;

  z-index: -1; /* Keep the background behind the content */

  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
}

.rect{
	text-align:right;
	color:white;
  height:45%;
  top:25%;
}

 .rectbr
 {
   display: block;
   margin: 15px 0;
 }

.onePerLine{
  text-align:center;
  position:relative;
  align-items:center;
  right:30px;
  width:500px;
}

.twoPerLine{
       text-align:center;
      align-items:center;
  position:relative;
  right:0px;
  width:500px;
 }
