body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;  
  color:black;
}

body:before{
  content: "";
  position: fixed;
  height: 100%; width: 100%;

  background: url("../assets/images/Compte.jpg");
  background-size: cover;

  z-index: -1; /* Keep the background behind the content */  
  
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
}

.pageName{
  position:absolute;

  top:10%;
  left:33%;
    
  text-shadow: 0px 5px 10px black;
  font-size:30px;
  color : white;
}

.field{         
  font-family:Luminari, fantasy;
  position:relative;
  text-align:center;
  color:rgb(200,200,200);
  top:5%;
}


h2{
  color: white;
  font-size: 200%;
  text-align: center         
}

.bouton
{
  left:50%;
}

.rect{   
  background-color:rgb(128,21,21,80%);
  height:500px;
  width: 500px;
  border-radius:20px;         

  position:absolute;
  bottom: 20%;

  left:36%;
}

.rect2{   
  background-color:rgb(128,21,21,80%);
  height:600px;
  width: 500px;
  border-radius:20px; 
  text-align: center;        

  position:absolute;
  bottom: 15%;

  left:36%;
}