body{
  position: absolute;
 bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;

  }

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/team.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */     
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  }

  .rect{   
    background-color:rgb(128,21,21,80%);
    display: inline-table;
    text-align: center;
    border-radius:20px;
    color: white;        
  
    position:absolute;
    top :20%;
    left:35%;
  }
 
  tbody tr:nth-child(odd) {
    background-color: #c52020;
  }
  
  tbody tr:nth-child(even) {
    background-color: #500303;
  }

  table th:first-child  {
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
  }
  
  table th:last-child  {
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
  }
  
  table tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
  }
  
  table tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
  }

  .sousPart{
    font-size: 24px;
  }
  
  .soussousPart{
    font-size: 17px;
  }

  .centre{
    text-align: center;
    position:relative;
    display: inline-block;
  }