
.cote{
  z-index:5;

  color:white;
  background-color:rgb(50,50,50,75%);

  height:87%;
  width:10%;

  display:flex;
  align-items : center;
  text-align: left;

  position:fixed;
  bottom:0%;
  left:0%;
}

.cote2{
  position:relative;
  height:55%;
  left:10%;
}

.moncompte{
  text-align:center;

  font-family:Georgia, serif;
  text-decoration: none;

  font-weight:bold;
  color:white;
  font-size:18px;
}

.moncompte:hover{
  color:rgb(255,50,50);
  font-size:19px;
}

@media screen and (max-width: 1110px) {
  .moncompte{
    text-align:center;
  
    font-family:Georgia, serif;
    text-decoration: none;
  
    font-weight:bold;
    color:white;
    font-size:14px;
  }
  
  .moncompte:hover{
    color:rgb(255,50,50);
    font-size:15px;
  }
}

@media screen and (max-width: 760px) {
  .moncompte{
    text-align:center;
  
    font-family:Georgia, serif;
    text-decoration: none;
  
    font-weight:bold;
    color:white;
    font-size:12px;
  }
  
  .moncompte:hover{
    color:rgb(255,50,50);
    font-size:13px;
  }
}
