body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;
  color:black;
}

body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background: url("images/tournois.jpg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

.BigDiv{
  background-color:rgb(128,21,21,80%);
  height:15%;
  display: inline-block;
  border-radius:20px;

  overflow: auto;
  font-size:18px;
  color: white;
  text-align: center;
  position:absolute;

  padding: 30px;
  width: 35%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
