body{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  margin:0;
  padding:0;
  background-size: 100% ;
  background-color:black;
  width:100%;  
  color:black;
}

body:before{
  content: "";
  position: fixed;
  height: 100%; width: 100%;

  background: url("../assets/images/Compte.jpg");
  background-size: cover;

  z-index: -1; /* Keep the background behind the content */  
  
  -webkit-filter: blur(8px);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
}

.rect{
	text-align:right;
	color:white;
  height:500px;
	width:500px;
  top:25%;
  text-align: center;
}

.text{
	text-align:center;
	width:500px;
}

.twoChoices{
  text-align:center;
}

tbody tr:nth-child(odd) {
  background-color: #c52020;
}

tbody tr:nth-child(even) {
  background-color: #500303;
}

.centre{
  text-align: center;
  position:relative;
  display: inline-block;
}

.sousPart{
  font-size: 30px;
}